.App {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

body {
  background-color: #F0B880;
}

header {
  background-color: #f08080;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
}

img {
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
}

h2 {
  text-align: center;
}

#filler {
  background-color: antiquewhite;
}
/*modal overlay */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*modal content*/
.ReactModal__Content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* shadow effect */
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

/*close button*/
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

/* Style for the meal name in the modal */
.modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/*meal img style */
.modal img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/*ingredients style */
.modal ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

/* modal instructions */
.modal p {
  font-size: 16px;
  line-height: 1.5;
}
